# some my garbage
/test/
/release/

*.drv
*.vxd
*.sym
*.res
*.bin
*.obj
*.o
*.lib
*.lnk
*.map
*.err
*.exe
*.dll
*.bat
*.bak
*.backup

config.mk

# ignore generate files
/libsmp/hooks.asm
/libsmp/libsmp.def
/apboot.bin
/apboot.h
/apkernel.bin
/apkernel.h
/libsmp.def
/libsmp.txt
/libsmp_hook.asm
/mesa_hook.asm
/mesasmp.def
/mesasmp.txt
